.slide-container {
  /* vw = 브라우저폭 */
  width: 300vw;
  /* transition: all 1s; */
}
.slide-box {
  width: 100vw;
  float: left;
}
.slide-box img {
  width: 100%;
}
.navbar {
  position: fixed !important;
  width: 100%;
  z-index: 5;
}
.navbar-brand {
  transition: all 1s;
}
